@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  overflow-x: hidden; }

header nav ul li, section .btn-enviar,
.section1 .btn-enviar, section .btn-borrar,
.section1 .btn-borrar {
  border-radius: 30px;
  box-shadow: 3px 3px black; }

/*Prop. de GRID Index- Nosotros- Carrito*/
.contenedor-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1.2fr 0.5fr;
  grid-template-areas: "header header header header" "main main main main"  "section section section1 section1"                  "footer footer footer footer"; }

/*Prop. de GRID Productos- Contacto*/
.contenedor-grid2 {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.2fr 1.5fr 0.5fr;
  grid-template-areas: "header header header header" "main main main main"  "section section section section"                  "footer footer footer footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

section {
  grid-area: section; }

.section1 {
  grid-area: section1; }

footer {
  grid-area: footer; }

/*Formato Mobile*/
@media only screen and (max-width: 768px) {
  /*Prop. de GRID Index- Nosotros- Carrito*/
  .contenedor-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas: "header header header" "main main main" "section section section" "section1 section1 section1" "footer footer footer"; }
  /*Prop. de GRID Productos- Contacto */
  .contenedor-grid2 {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.2fr 1.5fr 0.5fr;
    grid-template-areas: "header header header" "main main main" "section section section" "footer footer footer"; }
  h1,
  h2,
  h3 {
    font-size: 1rem; }
  section .formulario,
  .section1 .formulario {
    font-size: 0.3rem;
    padding: 10px; }
  section p,
  .section1 p {
    font-size: 0.8rem; }
  section ul li,
  section ol li,
  .section1 ul li,
  .section1 ol li {
    font-size: 0.5rem; }
  footer {
    font-size: 0.5rem; }
    footer .foot h4 {
      font-size: 1rem; }
    footer .foot .redes .bi-facebook,
    footer .foot .redes .bi-instagram,
    footer .foot .redes .bi-whatsapp {
      font-size: 10px; } }

/*Encabezado*/
header {
  background-color: rgba(207, 203, 203, 0.699); }
  header nav ul li {
    background-color: lightblue;
    font-size: 0.9rem;
    color: black;
    margin: 10px;
    padding: 5px; }
    header nav ul li:hover {
      background-color: #b3b0b0;
      transform: scale(1.1); }
  header nav .navbar-brand {
    margin: 10px;
    padding: 5px; }
    header nav .navbar-brand:hover {
      transform: scale(1.1); }
  header .etiq {
    margin: 5px;
    font-size: 0.7rem; }

/*Contenido de la página*/
main {
  background-color: #fdd9ad; }
  main h1 {
    color: #030374;
    display: flex;
    justify-content: center;
    padding-top: 20px; }
  main h2 {
    display: flex;
    justify-content: center;
    padding: 50px; }
  main p {
    margin: 5px;
    padding: 5px;
    font-size: 1rem; }

section,
.section1 {
  background-color: #d0f1fc; }
  section .formulario,
  .section1 .formulario {
    font-size: 1rem;
    padding: 10px; }
  section .estilos-card,
  .section1 .estilos-card {
    margin: 1rem; }
  section .estilos-btn,
  .section1 .estilos-btn {
    background-color: #9595eb;
    border-radius: 20px;
    box-shadow: 3px 3px black;
    margin-top: 5px;
    font-weight: bold; }
    section .estilos-btn:hover,
    .section1 .estilos-btn:hover {
      transform: scale(1.1); }
  section .btn-enviar,
  .section1 .btn-enviar {
    background-color: green;
    color: white;
    font-weight: bold; }
  section .btn-borrar,
  .section1 .btn-borrar {
    background-color: red;
    color: white;
    font-weight: bold; }
  section h3,
  .section1 h3 {
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #570a57; }
  section p,
  section .map,
  section .img,
  .section1 p,
  .section1 .map,
  .section1 .img {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center; }
  section ul,
  section ol,
  .section1 ul,
  .section1 ol {
    margin: 5px;
    padding: 5px; }
    section ul li,
    section ol li,
    .section1 ul li,
    .section1 ol li {
      margin: 15px;
      font-size: 1rem; }
  section .imgAyuda,
  section .imgEnvio,
  .section1 .imgAyuda,
  .section1 .imgEnvio {
    display: flex;
    justify-content: center;
    padding: 20px;
    animation-name: mov;
    animation-iteration-count: infinite;
    animation-duration: 5s; }

@keyframes mov {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

/*Pie de página*/
footer {
  background-color: rgba(207, 203, 203, 0.699); }
  footer .foot {
    display: flex;
    justify-content: space-between;
    margin: 10px; }
    footer .foot h4 {
      font-size: 1rem; }
    footer .foot p {
      margin: 5px;
      font-size: 0.7rem; }
    footer .foot ul {
      font-size: 0.8rem; }
    footer .foot .redes {
      display: flex;
      justify-content: center; }
      footer .foot .redes .bi-facebook,
      footer .foot .redes .bi-instagram,
      footer .foot .redes .bi-whatsapp {
        font-size: 25px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        color: #030374; }
        footer .foot .redes .bi-facebook:hover,
        footer .foot .redes .bi-instagram:hover,
        footer .foot .redes .bi-whatsapp:hover {
          color: #570a57; }
