* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import "utilities/variables";
@import "utilities/grid";
@import "utilities/mediaquery";


/*Encabezado*/
header {
    background-color: $color-principal;

    nav {
        ul {
            li {
                background-color: lightblue;
                font-size: 0.9rem;
                color: black;
                margin: 10px;
                padding: 5px;
                @extend %borde;

                &:hover {
                    background-color: rgb(179, 176, 176);
                    transform: scale(1.1);
                }
            }
        }

        .navbar-brand {
            margin: 10px;
            padding: 5px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .etiq {
        margin: 5px;
        font-size: $letra - 0.3;
    }
}


/*Contenido de la página*/
main {
    background-color: $color-main;

    h1 {
        color: rgb(3, 3, 116);
        @include flex;
        padding-top: 20px;
    }

    h2 {
        @include flex;
        padding: 50px;
    }

    p {
        @include size (5px, 5px);
        font-size: $letra;
    }
}

section,
.section1 {
    background-color: $color-section;

    .formulario {
        font-size: $letra;
        padding: 10px;
    }

    .estilos-card {
        margin: 1rem;
    }

    .estilos-btn {
        @include condicion(rgb(149, 149, 235));
        margin-top: 5px;
        font-weight: bold;

        &:hover {
            transform: scale(1.1);
        }
    }

    .btn-enviar {
        background-color: map-get($map: $enviar, $key: bg-enviar);
        color: map-get($map: $enviar, $key: color-enviar);
        font-weight: map-get($map: $enviar, $key: font-enviar);
        @extend %borde;
    }

    .btn-borrar {
        background-color: map-get($map: $borrar, $key: bg-borrar);
        color: map-get($map: $borrar, $key: color-borrar);
        font-weight: map-get($map: $borrar, $key: font-borrar);
        @extend %borde;
    }

    h3 {
        padding: 20px;
        @include flex;
        color: rgb(87, 10, 87);
    }

    p,
    .map,
    .img {
        @include size (5px, 5px);
        @include flex;
    }

    ul,
    ol {
        @include size (5px, 5px);

        li {
            margin: 15px;
        }
    }

    .imgAyuda,
    .imgEnvio {
        @include flex;
        padding: 20px;
        animation-name: mov;
        animation-iteration-count: infinite;
        animation-duration: 5s;
    }

    @keyframes mov {
        from {
            transform: scale(1.0);
        }

        to {
            transform: scale(1.1);
        }
    }
}


/*Pie de página*/
footer {
    background-color: $color-principal;

    .foot {
        display: flex;
        justify-content: space-between;
        margin: 10px;

        h4 {
            font-size: $letra;
        }

        p {
            margin: 5px;
            font-size: $letra - 0.3;
        }

        ul {
            font-size: 0.8rem;
        }

        .redes {
            @include flex;

            .bi-facebook,
            .bi-instagram,
            .bi-whatsapp {
                font-size: 25px;
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
                color: rgb(3, 3, 116);

                &:hover {
                    color: rgb(87, 10, 87);
                }
            }
        }
    }
}