* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import "utilities/variables";
@import "utilities/grid";
@import "utilities/mediaquery";


/*Encabezado*/
header {
    background-color: $color-principal;

    nav {
        ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;

            li {
                background-color: lightblue;
                font-size: $letra;
                color: black;
                margin: 10px;
                padding: 5px;
                @extend %borde;

                &:hover {
                    background-color: map-get($map: $hover, $key: color-hover);
                    transform: map-get($map: $hover, $key: transf-hover);
                }
            }
        }
    }

    .etiq {
        margin: 5px;
        font-size: $letra - 0.3;
    }
}


/*Contenido de la página*/
main {
    background-color: $color-main;

    h1 {
        color: rgb(3, 3, 116);
        @include flex;
        padding-top: 15px;
    }

    h2 {
        @include flex;
        padding: 50px;
    }

    p {
        @include size (5px, 5px);
    }
}

section,
.section1 {
    background-color: $color-section;

    h3 {
        padding: 20px;
        @include flex;
        color: rgb(87, 10, 87);
    }

    p,
    .map,
    .img {
        @include size (5px, 5px);
        @include flex;
    }

    ul,
    ol {
        @include size (5px, 5px);

        li {
            margin: 15px;
        }
    }

    .imgAyuda,
    .imgEnvio {
        @include flex;
        padding: 20px;
        animation-name: mov;
        animation-iteration-count: infinite;
        animation-duration: 5s;
    }

    @keyframes mov {
        from {
            transform: scale(1.0);
        }

        to {
            transform: scale(1.1);
        }
    }
}


/*Pie de página*/
footer {
    background-color: $color-principal;

    .foot {
        display: flex;
        justify-content: space-between;
        margin: 10px;

        h4 {
            @include size (5px, 5px);
        }

        p {
            margin: 5px;
            font-size: $letra - 0.3;
        }

        .redes {
            @include flex;

            .bi-facebook,
            .bi-instagram,
            .bi-whatsapp {
                font-size: 30px;
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
                color: rgb(3, 3, 116);

                &:hover {
                    color: map-get($map: $hover1, $key: color-hover);
                }
            }
        }
    }
}