/*Prop. de GRID Index- Nosotros- Carrito*/
.contenedor-grid{
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr 0.5fr;

    grid-template-areas: "header header header header"
                         "main main main main" 
                         "section section section1 section1"                 
                         "footer footer footer footer";
}

/*Prop. de GRID Productos- Contacto*/
.contenedor-grid2{
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.2fr 1.5fr 0.5fr;

    grid-template-areas: "header header header header"
                         "main main main main" 
                         "section section section section"                 
                         "footer footer footer footer";
}


header{
    grid-area: header;
}

main{
    grid-area: main;
}

section{
    grid-area: section;
}

.section1{
    grid-area: section1;
}

footer{
    grid-area: footer;
}


