/*Formato Mobile*/
@media only screen and (max-width:768px) {

    /*Prop. de GRID Index- Nosotros- Carrito*/
    .contenedor-grid {
        height: 100vh;
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 0.5fr;

        grid-template-areas: "header header header"
            "main main main"
            "section section section"
            "section1 section1 section1"
            "footer footer footer";
    }

    h1,
    h2,
    h3 {
        font-size: $letra;
    }

    footer {
        font-size: $letra - 0.5;
    }

}