//Variables
$color-principal:rgba(207, 203, 203, 0.699);
$color-main:rgb(253, 217, 173);
$color-section: rgb(208, 241, 252);
$letra: 1rem;

//Mixin - con parametros
@mixin size ($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

//Mixin - sin parametros
@mixin flex {
    display: flex;
    justify-content: center;
}

//Mapas
$enviar:(color-enviar: white,
    bg-enviar: green,
    font-enviar: bold,
);

$borrar:(color-borrar: white,
    bg-borrar: red,
    font-borrar: bold,
);

//Extends
%borde {
    border-radius: 30px;
    box-shadow: 3px 3px black;
}

//Condicionales
@mixin condicion ($boton) {
    background-color: $boton;

    //condicional
    @if $boton==rgb(149, 149, 235) {
        border-radius: 20px;
        box-shadow: 3px 3px black;
    }

    @else {
        border-radius: 30px;
        box-shadow: none;
    }
}